.caller {
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 300px;
  height: 520px;
  background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(221,236,240,1) 41%, rgba(214,246,255,1) 100%);
  transform: scale(1);
  transition: all ease-in-out .3s;
}

.caller * {
  color: #444;
}

.caller__callee-info-row {
  height: 100px;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 40px;
}

.caller__callee-name {
  font-size: 1.8em;
  padding: 10px 0;
}

/* Caller states */

.caller.keypad-active {
  top: 15px;
  opacity: 0;
  transform: scale(0.9);
  z-index: -1;
}

.caller.hidden {
  top: 25px;
  opacity: 0;
  transform: scale(0.8);
  z-index: -1;
}

/* Single call */

.caller.single .caller__callee-name {
  max-width: 260px;
  margin: 0 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.caller.single .caller__callee-name-tooltip {
  position: absolute;
  top: 5px;
  left: 18px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  border-radius: 2px;
  transition: 0.2s ease-in-out;
  opacity: 1;
  box-sizing: border-box;
  font-size: 1.8em;
  padding: 5px;
  z-index: 20;
  max-width: 260px;
  text-align: left;
}

.caller.single .caller__callee-name-tooltip.hidden {
  opacity: 0;
  top: 5px;
  z-index: -1;
}

.caller.single .caller__callee-hold {
  position: absolute;
  top: 15px;
  right: 5px;
  cursor: pointer;
}

.caller.single .caller__callee-hold:hover i {
  color: #777;
}

/* Multiple call */

.caller.multiple .caller__callee-col.active-callee::after {
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  background-color: #444;
  border-radius: 50%;
  top: 12px;
  left: 7px;
}

.caller.multiple .caller__callee-col {
  height: 30px;
  position: relative;
}

.caller.multiple .caller__callee-info-row {
  cursor: pointer;
}

.caller.single div.on-hold,
.caller.multiple div.on-hold {
  color: #999;
}

.caller.multiple .caller__callee-name {
  position: absolute;
  top: 5px;
  left: 20px;
  font-size: 1.3em;
  padding: 0;
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.caller.multiple .caller__callee-duration {
  position: absolute;
  top: 5px;
  right: 60px;
  font-size: 1.3em;
  color: #000;
}

.caller.multiple .caller__callee-remove,
.caller.multiple .caller__callee-hold {
  position: absolute;
  top: 5px;
  right: 30px;
  cursor: pointer;
}

.caller.multiple .caller__callee-hold {
  top: 6px;
}

.caller.multiple .caller__callee-remove.on-hold i,
.caller.multiple .caller__callee-hold.on-hold i {
  color: #999;
}

.caller.multiple .caller__callee-remove:hover.on-hold i,
.caller.multiple .caller__callee-hold:hover.on-hold i {
  color: #999;
}

.caller.multiple .caller__callee-remove i,
.caller.multiple .caller__callee-hold i {
  color: #ff5353;
  font-size: 1.1em;
}

.caller.multiple .caller__callee-remove:hover i,
.caller.multiple .caller__callee-hold:hover i {
  color: #ff8787;
}

.caller.multiple .caller__callee-hold {
  right: 5px;
  background-color: transparent;
}

.caller.multiple .caller__callee-hold i {
  color: #444;
}

.caller.multiple .caller__callee-hold:hover i {
  color: #777;
}

.caller.multiple .caller__callee-name-tooltip {
  position: absolute;
  top: 0;
  left: 15px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  border-radius: 2px;
  transition: 0.2s ease-in-out;
  opacity: 1;
  box-sizing: border-box;
  font-size: 1.3em;
  padding: 5px;
  z-index: 20;
  max-width: 280px;
  text-align: left;
}

.caller.multiple .caller__callee-name-tooltip.hidden {
  opacity: 0;
  top: 0;
  z-index: -1;
}

/* Merged call */

.caller.merged .caller__merged-callee-name {
  font-size: 1.5em;
  padding: 10px 0;
}

.caller.merged .caller__merged-call-info {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.2em;
  cursor: pointer;
}

/* Caller options */

.caller__call-options-row {
  height: 100px;
}

.caller__call-option-col {
  text-align: center;
  height: 100px;
}

.caller__call-option-name {
  font-size: .7em;
  position: absolute;
  top: 47px;
  left: 0;
  right: 0;
}

.caller__call-option.disabled {
  border-color: #bbb;
}

.caller__call-option.disabled:hover {
  background-color: transparent;
}

.caller__call-option.disabled .caller__call-option-name {
  color: #bbb;
}

.caller__call-option.disabled i {
  color: #bbb;
}

.caller__call-option {
  border: 1px solid #333;
  width: 65px;
  height: 65px;
  display: inline-block;
  line-height: 70px;
  font-size: 1.5em;
  cursor: pointer;
  transition: all ease-in-out .2s;
}

.caller__call-option:hover {
  background-color: rgba(0, 0, 0, .2);
}

/* Bottom action buttons */

.caller__end-call-btn {
  display: inline-block;
  position: relative;
  width: 65px;
  height: 65px;
  line-height: 70px;
  top: 31px;
  vertical-align: top;
}

.caller__end-call-btn {
  font-size: 1.7em;
  cursor: pointer;
  top: 31px;
  transition: all ease-in-out .2s;
}

.caller__end-call-btn {
  background-color: #ff5353;
}

.caller__end-call-btn i {
  color: #fff;
  font-size: 1em;
}

.caller__end-call-btn:hover {
  background-color: #ff8787;
}
