.dialer__contacts {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, .2);
}

.dialer__contacts-header {
  height: 50px;
  background-color: #e8e8e8;
  line-height: 50px;
  font-size: 1.2em;
  text-align: center;
  position: fixed;
  top: 0;
  width: 300px;
  z-index: 100;
}

.dialer__contact-add {
  position: absolute;
  right: 13px;
  top: 13px;
  color: #2491ff;
  cursor: pointer;
}

.dialer__contacts-list {
  height: 400px;
  margin-top: 50px;
  overflow: auto;
}

.dialer__contact-row {
  box-sizing: content-box;
  border-bottom: 1px solid #f2f2f2;
  font-size: 1.2em;
  transition: all ease-in-out .2s;
  height: 50px;
  cursor: pointer;
}

.dialer__contact-row:hover {
  background-color: #fff;
}

.dialer__contact-row .col {
  padding: 15px;
}

.last-name {
  font-weight: 600;
}

.dialer__contact-fullname {
  position: absolute;
  left: 10px;
  font-size: .9em;
  top: 10px;
  color: #000;
}

.dialer__contact-type {
  position: absolute;
  left: 10px;
  font-size: .8em;
  top: 30px;
  color: #a6a6a6;
}
