.dialer-box {
  z-index: 1000;
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  height: 520px;
  opacity: 1;
  transform: scale(1);
  transition: all ease-in-out .2s;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.dialer-box.hidden {
  opacity: 0;
  z-index: -1;
  transform: scale(1.25);
}

/* Dialer */

.dialer {
  width: 300px;
  height: 520px;
  background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(221,236,240,1) 41%, rgba(214,246,255,1) 100%);
}

/* Tabs */

.dialer__tab-containers {
  height: 450px;
}

.dialer__tab-container:not(.active) {
  display: none;
}

.dialer__tabs {
  padding: 10px 0;
}

.dialer__tab-row {
  height: 48px;
}

.dialer__tab {
  cursor: pointer;
  transition: all ease-in-out .2s;
}

.dialer__tab:hover,
.dialer__tab.active {
  color: #2491ff;
}

.dialer__tab-icon {
  font-size: 2em;
}

.dialer__tab-name {
  font-size: .8em;
}
