.incoming-call {
  box-sizing: content-box;
  position: absolute;
  z-index: 999;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  width: 300px;
  height: 200px;
  padding: 20px 25px 10px;
  margin: 0 auto;
  opacity: 1;
  transform: scale(1);
  text-align: center;
  border-radius: 5px;
  background: -webkit-linear-gradient(-45deg, #e0e8eb 0%, rgba(221,236,240,1) 41%, rgba(214,246,255,1) 100%);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.35);
  transition: all ease-in-out .2s;
}

.incoming-call.hidden {
  opacity: 0;
  z-index: -1;
  transform: scale(1.25);
}

.incoming-call__title {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 20px;
}

.incoming-call__callee-name {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.incoming-call__callee-number {
  font-size: 1em;
}

.incoming-call__btn {
  opacity: 1;
  z-index: 999;
  display: inline-block;
  margin: 25px 10px 0;
  width: 65px;
  height: 65px;
  line-height: 70px;
  font-size: 1.7em;
  cursor: pointer;
  transform: scale(1);
  transition: all ease-in-out .3s;
}

.incoming-call__accept-btn i,
.incoming-call__reject-btn i,
.incoming-call__transfer-btn i {
  color: #fff;
}

.incoming-call__accept-btn {
  background-color: #66e457;
}

.incoming-call__accept-btn:hover {
  background-color: #a7e4a0;
}

.incoming-call__reject-btn {
  background-color: #ff5353;
}

.incoming-call__reject-btn:hover {
  background-color: #ff8787;
}

.incoming-call__transfer-btn {
  background-color: #2491ff;
}

.incoming-call__transfer-btn:hover {
  background-color: #5aacff;
}
