.dialer__keypad {
  box-sizing: content-box;
  padding: 16px 32px 0;
}

/* Typed digits and remove btn */

.dialer__digits-line-row {
  height: 70px;
}

.dialer__digits-input {
  height: 50px;
  width: 100%;
  font-size: 1.7em;
  text-align: center;
  background: none;
  outline: none;
  border: none;
}

.dialer__remove-digit-btn {
  background: none;
  color: #333;
}

.dialer__remove-digit-btn {
  position: absolute;
  height: 50px;
  line-height: 50px;
  top: 0;
  right: -28px;
  font-size: 1.7em;
  cursor: pointer;
}

.dialer__remove-digit-btn:hover {
  color: #2491ff;
}

/* Digits keypad */

.dialer__digit-row,
.dialer__caller-row {
  height: 70px;
}

.dialer__digit-col {
  height: 100%;
  text-align: center;
  line-height: 80px;
}

.dialer__digit {
  border: 1px solid #7ad5f1;
  width: 65px;
  height: 65px;
  display: inline-block;
  line-height: 68px;
  font-size: 1.5em;
  cursor: pointer;
  transition: all ease-in-out .2s;
}

.dialer__digit[data-value='*'] {
  font-size: 2.5em;
  line-height: 90px;
}

.dialer__digit:focus {
  border-color: #7ad5f1;
  background: none;
}

.dialer__digit:hover {
  border-color: #bbefff;
  background-color: rgba(255, 255, 255, .5);
}

/* Caller Actions */

.dialer__caller-row {
  margin: 5px 0;
}

.dialer__call-btn {
  background-color: #66e457;
}

.dialer__call-btn:hover {
  background-color: #8fff82;
}

.dialer__call-btn.hidden {
  opacity: 0;
  transform: scale(0.8);
  z-index: -1;
}

.dialer__end-call-btn {
  background-color: #ff5353;
}

.dialer__end-call-btn:hover {
  background-color: #ff8787;
}

.dialer__end-call-btn.hidden {
  opacity: 0;
  transform: scale(0.8);
  z-index: -1;
}

.dialer__transfer-call-btn {
  background-color: #2491ff;
}

.dialer__transfer-call-btn:hover {
  background-color: #5aacff;
}

.dialer__transfer-call-btn.hidden {
  opacity: 0;
  transform: scale(0.8);
  z-index: -1;
}

.dialer__hide-keypad-btn {
  opacity: 1;
  z-index: 999;
  position: absolute;
  top: 80px;
  right: 0;
  font-size: 1.2em;
  cursor: pointer;
  transition: all ease-in-out .2s;
}

.dialer__hide-keypad-btn.hidden {
  opacity: 0;
  z-index: -1;
  top: 60px;
}

.dialer__caller-btn {
  opacity: 1;
  z-index: 999;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 65px;
  height: 65px;
  line-height: 70px;
  font-size: 1.7em;
  cursor: pointer;
  transform: scale(1);
  transition: all ease-in-out .3s;
}

.dialer__caller-btn i {
  color: #fff;
  font-size: 1em;
}
