.dialer__recent {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, .2);
}

.dialer__recent-header {
  height: 50px;
  background-color: #e8e8e8;
  line-height: 50px;
  font-size: 1.2em;
  text-align: center;
  position: fixed;
  top: 0;
  width: 300px;
  z-index: 100;
}

.dialer__recent-list {
  height: 400px;
  margin-top: 50px;
  overflow: auto;
}

.dialer__recent-row {
  box-sizing: content-box;
  border-bottom: 1px solid #f2f2f2;
  font-size: 1.2em;
  transition: all ease-in-out .2s;
  height: 50px;
  cursor: pointer;
}

.dialer__recent-icon {
  color: #a6a6a6;
  padding-right: 5px;
  font-size: .9em;
}

.dialer__recent-fullname {
  position: absolute;
  left: 40px;
  font-size: .9em;
  top: 10px;
  color: #000;
}

.dialer__recent-type {
  position: absolute;
  left: 40px;
  font-size: .8em;
  top: 30px;
  color: #a6a6a6;
}

.dialer__recent-time {
  position: absolute;
  right: 40px;
  font-size: .8em;
  top: 20px;
  color: #a6a6a6;
}

.dialer__recent-info {
  position: absolute;
  right: 10px;
  color: #2491ff;
}

.outgoing .dialer__recent-icon {
  color: #2491ff;
}

.incoming .dialer__recent-icon {
  color: #42ac4e;
}

.missing .dialer__recent-icon {
  color: #c32c2c;
}

.missing .dialer__recent-fullname {
  color: #c32c2c;
}

.dialer__recent-row:hover {
  background-color: #fff;
}

.dialer__recent-row .col {
  padding: 15px;
}
