.dialer__voicemail {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, .2);
}

.dialer__voicemail-header {
  height: 50px;
  background-color: #e8e8e8;
  line-height: 50px;
  font-size: 1.2em;
  text-align: center;
  position: fixed;
  top: 0;
  width: 300px;
  z-index: 100;
}

.dialer__voicemail-list {
  height: 400px;
  margin-top: 50px;
  overflow: auto;
}

.dialer__voicemail-row.active {
  height: 100px;
  background-color: #fff;
}

.dialer__voicemail-row {
  box-sizing: content-box;
  border-bottom: 1px solid #f2f2f2;
  font-size: 1.2em;
  transition: background ease-in-out .2s;
  height: 50px;
  cursor: pointer;
}

.dialer__voicemail-icon {
  color: #a6a6a6;
  padding-right: 5px;
  font-size: .9em;
}

.dialer__voicemail-fullname {
  position: absolute;
  left: 40px;
  font-size: .9em;
  top: 10px;
  color: #000;
}

.dialer__voicemail-type {
  position: absolute;
  left: 40px;
  font-size: .8em;
  top: 30px;
  color: #a6a6a6;
}

.dialer__voicemail-time {
  position: absolute;
  right: 40px;
  font-size: .8em;
  top: 10px;
  color: #000;
}

.dialer__voicemail-duration {
  position: absolute;
  right: 40px;
  font-size: .8em;
  top: 30px;
  color: #a6a6a6;
}

.dialer__voicemail-info {
  position: absolute;
  right: 10px;
  color: #2491ff;
}

.outgoing .dialer__voicemail-icon {
  color: #c32c2c;
}

.incoming .dialer__voicemail-icon {
  color: #42ac4e;
}

.missing .dialer__voicemail-icon {
  color: #c32c2c;
}

.dialer__voicemail-row:hover {
  background-color: #fff;
}

.dialer__voicemail-row .col {
  padding: 15px;
}

.dialer__voicemail-row:not(.active) .dialer__voicemail-datetime,
.dialer__voicemail-row:not(.active) .dialer__voicemail-play,
.dialer__voicemail-row:not(.active) .dialer__voicemail-pause,
.dialer__voicemail-row:not(.active) .dialer__voicemail-position,
.dialer__voicemail-row:not(.active) .dialer__voicemail-timeline,
.dialer__voicemail-row:not(.active) .dialer__voicemail-timeline-btn {
  display: none;
}

.dialer__voicemail-row.active .dialer__voicemail-datetime,
.dialer__voicemail-row.active .dialer__voicemail-play,
.dialer__voicemail-row.active .dialer__voicemail-pause,
.dialer__voicemail-row.active .dialer__voicemail-position,
.dialer__voicemail-row.active .dialer__voicemail-timeline,
.dialer__voicemail-row.active .dialer__voicemail-timeline-btn {
  position: absolute;
}

.dialer__voicemail-row.active .dialer__voicemail-datetime {
  font-size: .7em;
  left: 40px;
  top: 50px;
  color: #a6a6a6;
}

.dialer__voicemail-row.active .dialer__voicemail-play {
  left: 10px;
  top: 70px;
  color: #2491ff;
}

.dialer__voicemail-row.active .dialer__voicemail-pause {
  left: 10px;
  top: 70px;
  color: #2491ff;
}

.dialer__voicemail-row.active .dialer__voicemail-play.hidden {
  display: none;
}

.dialer__voicemail-row.active .dialer__voicemail-pause.hidden {
  display: none;
}

.dialer__voicemail-row.active .dialer__voicemail-position {
  font-size: .7em;
  left: 40px;
  top: 75px;
  color: #a6a6a6;
}

.dialer__voicemail-row.active .dialer__voicemail-duration {
  font-size: .7em;
  top: 75px;
  right: 10px;
}

.dialer__voicemail-row.active .dialer__voicemail-timeline {
  height: 3px;
  width: 160px;
  background-color: #a6a6a6;
  top: 80px;
  left: 80px;
}

.dialer__voicemail-row.active .dialer__voicemail-timeline-btn {
  width: 3px;
  height: 10px;
  background-color: #2491ff;
  top: -4px;
}
