/* font-family: "HelveticaLight"; */
@font-face {
    font-family: "HelveticaLight";
    src: url("../../fonts/HelveticaLight/HelveticaLight.eot");
    src: url("../../fonts/HelveticaLight/HelveticaLight.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/HelveticaLight/HelveticaLight.woff") format("woff"),
    url("../../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
  font-family: 'icomoon';
  src:
    url('../../fonts/Icomoon/icomoon.ttf?x7wni8') format('truetype'),
    url('../../fonts/Icomoon/icomoon.woff?x7wni8') format('woff'),
    url('../../fonts/Icomoon/icomoon.svg?x7wni8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-video1:before {
  content: "\e900";
}
.icon-delete:before {
  content: "\e901";
}
.icon-keypad:before {
  content: "\e902";
}
.icon-recent:before {
  content: "\e903";
}
.icon-contacts:before {
  content: "\e904";
}
.icon-voicemail:before {
  content: "\e905";
}
.icon-video2:before {
  content: "\e906";
}
.icon-mute:before {
  content: "\e907";
}
.icon-plus:before {
  content: "\e908";
}
.icon-call:before {
  content: "\e942";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-play:before {
  content: "\ea1c";
}
.icon-pause:before {
  content: "\ea1d";
}
.icon-swap:before {
  content: "\ea2e";
}
.icon-merge:before {
  content: "\ea82";
}
.icon-split:before {
  content: "\e90b";
}
.icon-b-transfer:before {
  content: "\e909";
}
.icon-c-transfer:before {
  content: "\e90a";
}
