/* Rows and columns */

.row {
  position: relative;
  min-height: 1px;
}

.row::before {
  content: '';
  display: table;
  clear: both;
}

.row > .col {
  position: relative;
  min-height: 1px;
  float: left;
}

.row > .col.m1 { width: 8.33%; }
.row > .col.m2 { width: 16.66%; }
.row > .col.m3 { width: 25%; }
.row > .col.m4 { width: 33.32%; }
.row > .col.m5 { width: 41.65%; }
.row > .col.m6 { width: 50%; }
.row > .col.m7 { width: 58.31%; }
.row > .col.m8 { width: 66.64%; }
.row > .col.m9 { width: 74.97%; }
.row > .col.m10 { width: 83.3%; }
.row > .col.m11 { width: 91.63%; }
.row > .col.m12 { width: 100%; }

.row > .col.m1-off { margin-left: 8.33%; }
.row > .col.m2-off { margin-left: 16.66%; }
.row > .col.m3-off { margin-left: 25%; }
.row > .col.m4-off { margin-left: 33.32%; }
.row > .col.m5-off { margin-left: 41.65%; }
.row > .col.m6-off { margin-left: 50%; }
.row > .col.m7-off { margin-left: 58.31%; }
.row > .col.m8-off { margin-left: 66.64%; }
.row > .col.m9-off { margin-left: 74.97%; }
.row > .col.m10-off { margin-left: 83.3%; }
.row > .col.m11-off { margin-left: 91.63%; }
.row > .col.m12-off { margin-left: 100%; }

/* Helpers */

.rounded { border-radius: 50%; }

.text-center { text-align: center; }
