body, html {
  margin: 0;
  padding: 0;
  width: 600px;
  height: 600px;
  position: relative;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
  font-family: HelveticaLight;
}

/* Covers and Preloader */

.app__cover,
.app__loading {
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: all ease-in-out .2s;
}

.app__cover.hidden,
.app__loading.hidden {
  opacity: 0;
  z-index: -1;
}

.app__loading {
  background-color: #fff;
  text-align: center;
  z-index: 10000;
  transition: all ease-in-out .3s;
}

.app__loading.hidden {
  opacity: 0;
  z-index: -1;
  transform: scale(1.25);
}

.app__loading img {
  margin-top: 100px;
  width: 80%;
}

.app__loading-text {
  font-size: 1.2em;
  font-weight: 600;
}

/* Common controls */

.contact-search input,
.contact-search__result,
.contact-search__deselect button,
.contact-modal__button,
.call-notes__notes,
.call-notes__reminder-date input,
.call-notes__reminder-time input,
.call-notes__checkbox label,
.call-notes__save,
.call-disposition {
  font-size: 1.2em;
  border-radius: 5px;
  border: 1px solid rgba(36, 34, 38, .15);
  outline: none;
  padding: 10px 10px 8px;;
  transition: all ease-in-out .2s;
  width: 100%;
  background-color: #fff;
}

.contact-search input:hover,
.contact-search input:focus,
.contact-search input:active,
.contact-search button:hover,
.call-notes__notes:hover,
.call-notes__notes:focus,
.call-notes__notes:active,
.call-notes__checkbox label:hover,
.call-notes__save:hover,
.call-disposition:hover,
.call-disposition:focus,
.call-notes__reminder-date input:hover:not([disabled]),
.call-notes__reminder-date input:focus:not([disabled]),
.call-notes__reminder-date input:active:not([disabled]),
.call-notes__reminder-time input:hover:not([disabled]),
.call-notes__reminder-time input:focus:not([disabled]),
.call-notes__reminder-time input:active:not([disabled]),
.call-history__info:hover {
  border-color: #2491ff;
}

.call-notes__checkbox label,
.call-notes__save,
.contact-search__deselect button,
.contact-modal__button {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

/* Header box */

.header-box {
  height: 100px;
  border-bottom: 3px solid #eee;
  position: relative;
}

.header__logo {
  height: 100%;
  margin-left: -50px;
}

.header__logo-text {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  line-height: 100px;
  font-size: 1.5em;
}

.header__dialer-toggle {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.header__dialer-toggle i {
  font-size: 2.5em;
  color: #666;
  transition: all ease-in-out .2s;
}

.header__dialer-toggle:hover i {
  color: #2491ff;
}

/* Content box */

.content-box {
  height: 450px;
  background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(221,236,240,1) 41%, rgba(214,246,255,1) 100%);
}

.content__left-side {
  padding: 0 10px;
}

.content__right-side {
  padding: 0 10px;``
}

.content__right-side h4 {
  margin: 15px 0 10px;
  color: #333;
}

/* Call history */

.call-history {
  margin: 10px 0;
  height: 150px;
}

.call-history__header {
  padding: 10px 5px 5px;
  font-weight: 600;
  color: #333;
}

.call-history__info {
  width: 100%;
  padding: 10px 10px 3px;
  color: #333;
  border: 1px solid rgba(255, 255, 255, 0);
}

.call-history__info > div {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 150px;
  min-height: 20px;
  line-height: 20px;
}

.call-history__info:hover {
  border-radius: 5px;
  background-color: #fff;
  transition: all ease-in-out .2s;
  cursor: pointer;
}

.call-history__duration {
  float: right;
}

/* Contact Search */

.contact-search__results {
  margin-top: 10px;
  height: 170px;
  overflow: auto;
  border-radius: 5px;
  border: 1px solid rgba(36, 34, 38, .15);
}

.contact-search__result {
  border-radius: 0;
  border: none;
}

.contact-search__result:hover {
  background-color: rgba(87, 216, 255, 0.3);
  cursor: pointer;
}

.contact-search__selected {
  padding: 20px 0px;
}

.contact-search__selected-text {
  padding: 20px 10px;
}

.contact-search__deselect button {
  margin-top: 10px;
}

.contact-search__customer-name {
  margin-bottom: 5px;
}

/* Contact modal */

.contact-modal {
  box-sizing: content-box;
  position: absolute;
  z-index: 999;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  width: 300px;
  height: 200px;
  padding: 20px 25px 10px;
  margin: 0 auto;
  opacity: 1;
  transform: scale(1);
  text-align: center;
  border-radius: 5px;
  background: -webkit-linear-gradient(-45deg, #e0e8eb 0%, rgba(221,236,240,1) 41%, rgba(214,246,255,1) 100%);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.35);
  transition: all ease-in-out .2s;
}

.contact-modal.hidden {
  opacity: 0;
  z-index: -1;
  transform: scale(1.25);
}

.contact-modal__header {
  width: 100%;
  font-size: 1.1em;
  font-weight: 600;
  padding: 0 0 20px;
}

.contact-modal__label {
  width: 100%;
  font-size: 1.1em;
  padding: 0 0 20px;
  text-align: left;
}

.contact-modal__button {
  width: 105px;
  margin: 0 10px;
}

/* Call notes */

.call-notes__notes {
  height: 172px;
}

.call-notes__checkbox input {
  position: relative;
  top: 1px;
  left: 2px;
}

.call-notes__reminder-date,
.call-notes__reminder-time {
  margin-top: 10px;
  display: inline-block;
  width: 49%;
  text-align: center;
}

.call-notes__reminder-date input[disabled],
.call-notes__reminder-time input[disabled] {
  background-color: rgba(255, 255, 255, .5);
}

.call-disposition {
  width: 100%;
  height: 42px;
  padding: 5px 0 4px 5px;
  cursor: pointer;
}

.call-notes button {
  background-color: #f9f9f9;
  margin-top: 5px;
}

/* Footer box */

.footer-box {
  padding-top: 30px;
  text-align: center;
  width: 100%;
  border-top: 3px solid #eee;
  height: 50px;
}

/* Prettify time picker */

.ui-timepicker-wrapper.ui-timepicker-wrapper {
  width: 137px;
  border-radius: 5px;
}

.ui-timepicker-list li.ui-timepicker-am,
.ui-timepicker-list li.ui-timepicker-pm {
  padding: 10px;
}
