body, html {
  margin: 0;
  padding: 0;
  width: 600px;
  height: 600px;
  position: relative;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
  font-family: HelveticaLight;
}

.header-box {
  height: 100px;
  border-bottom: 3px solid #eee;
}

.header__logo {
  height: 100%;
  margin-left: -50px;
}

.header__logo-text {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  line-height: 100px;
  font-size: 1.5em;
}

.form-box {
  background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(221,236,240,1) 41%, rgba(214,246,255,1) 100%);
}

.form-errors {
  padding: 20px;
  border-bottom: 1px solid rgba(36, 34, 38, .15);
  color: #ca2727;
  background-color: rgba(255,255,255,0.5);
  font-size: 1em;
}

.form-group {
  text-align: center;
  width: 100%;
  padding: 10px;
}

.form-group .input {
  padding: 10px 0px;
  width: 75%;
  margin: 0 auto;
  text-align: right;
}

.form-group .input label {
  margin-right: 20px;
  color: #666;
}

.form-group .input input {
  font-size: 1.2em;
  border-radius: 5px;
  border: 1px solid rgba(36, 34, 38, .15);
  outline: none;
  padding: 10px;
  transition: all ease-in-out .2s;
}

.form-group .input input:hover,
.form-group .input input:focus,
.form-group .input input:active {
  border-color: #2491ff;
}

.controls {
  text-align: right;
  margin: 0 auto;
  width: 75%;
}

.checkbox {
  display: inline-block;
  margin-right: 20px;
}

.checkbox label,
.controls button {
  display: inline-block;
  font-size: 1.2em;
  border-radius: 5px;
  border: 1px solid rgba(36, 34, 38, .15);
  padding: 20px;
  transition: all ease-in-out .2s;
  box-sizing: border-box;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}

.checkbox label:hover,
.controls button:hover {
  border-color: #2491ff;
}
